@media only screen and (min-width: 220px) {
    .rh-effect.square {
        width: 100%;
    }
    .rh-mask {
        font-size: 12px;
        letter-spacing: 5px;
    }
    .details {
        font-size: 11px;
    }
    #header {
        display: block;
    }
}

@media only screen and (min-width: 550px) {
    .rh-effect.square {
        width: 50%;
    }
    .rh-mask {
        font-size: 12px;
        letter-spacing: 2px;
        opacity: 0.5;
    }
    .details {
        font-size: 11px;
    }
}

@media only screen and (min-width: 620px) {
    .rh-effect.square {
        width: 50%;
    }
    .rh-mask {
        font-size: 14px;
        letter-spacing: 3px;
    }
    .details {
        font-size: 12px;
    }
}

@media only screen and (min-width: 850px) {
    .rh-effect.square {
        width: 33.33%;
    }
    .rh-mask {
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 20px;
    }
    #header {
        display: none;
    }
    .details {
        font-size: 13px;
    }
}

@media only screen and (min-width: 980px) {
    .rh-effect.square {
        width: 33.33%;
    }
    .rh-mask {
        font-size: 13px;
        letter-spacing: 2px;
        line-height: 24px;
    }
    #header {
        display: none;
    }
    .details {
        font-size: 13px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    color: #979797;
}

a {
    color: #979797;
    text-decoration: none;
}

a:hover {
    color: #979797;
    text-decoration: underline;
}

a:active {
    color: #979797;
    text-decoration: none;
}

a:visited {
    color: #979797;
    text-decoration: none;
}

.loading,
.loading-info {
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.9;
    z-index: 10;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.8s, 0.8s, 0.8s, 0.8s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.loading-info {
    display: none;
    background: #2c3e50;
}

.details {
    display: none;
    z-index: 11;
    color: #ecf0f1;
}

.details-info:hover {
    cursor: pointer;
    text-decoration: underline;
}

.rh-effect.square {
    z-index: 6;
}

.rh-effect {
    position: absolute;
    z-index: 5;
    /*left: 33px;*/
    background: #FFF;
    top: 0px;
    position: relative;
    overflow: hidden;
    float: right;
    text-align: center;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.8s, 0.8s, 0.8s, 0.8s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.rh-effect:hover .rh-img {
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0.1;
}

.rh-effect:hover .rh-mask {
    opacity: 1;
    z-index: 3;
}

.rh-mask h4 {
    text-align: center;
}

.rh-mask {
    position: absolute;
    text-align: left;
    padding: 15px;
    padding-top: 5%;
    width: 90%;
    height: 90%;
    /*opacity: 0;*/
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.8s, 0.8s, 0.8s, 0.8s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.rh-img {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
